<!DOCTYPE html>
<html>
<head>
    <title>Lisää inproceedings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Lisää uusi inproceedings</h1>

    <p><strong>Pakolliset kentät on merkitty tähdellä (*):</strong></p>
    <form method="POST">
        <input type="text" name="author" placeholder="Kirjoittajan nimi" required>*<br>
        <input type="text" name="title" placeholder="Otsikko" required>*<br>
        <input type="text" name="booktitle" placeholder="Kirjan otsikko"><br>
        <input type="number" name="year" placeholder="Vuosi"><br>
        <input type="number" name="month" placeholder="Kuukausi"><br>
        <input type="text" name="editor" placeholder="Editor"><br>
        <input type="text" name="volume" placeholder="Volyymi"><br>
        <input type="text" name="number" placeholder="Volyymin numero"><br>
        <input type="text" name="series" placeholder="Konferenssijulkaisun sarja"><br>
        <input type="text" name="pages" placeholder="Sivunumerot"><br>
        <input type="text" name="address" placeholder="Osoite"><br>
        <input type="text" name="organization" placeholder="Organisaatio"><br>
        <input type="text" name="publisher" placeholder="Julkaisija"><br>
        <textarea name="notes" placeholder="Muistiinpanot"></textarea><br>

        <button type="submit">Lisää</button>
    </form>

    <br>
    <a href="{{ url_for('index') }}" class="back-to-home-btn">Takaisin etusivulle</a>
</body>
</html>
