<!DOCTYPE html>
<html>
<head>
    <title>Lisää misc</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Lisää uusi misc</h1>

    <p><strong>Pakolliset kentät on merkitty tähdellä (*):</strong></p>
    <form method="POST">
        <input type="text" name="author" placeholder="Kirjoittajan nimi" required>*<br>
        <input type="text" name="title" placeholder="Teoksen nimi" required>*<br>
        <input type="number" name="year" placeholder="Vuosi" required>*<br>
        <input type="number" name="month" placeholder="Kuukausi"><br>
        <input type="url" name="url" placeholder="URL-osoite"><br>
        <textarea name="notes" placeholder="Muistiinpanot"></textarea><br>

        <button type="submit">Lisää</button>
    </form>

    <br>
    <a href="{{ url_for('index') }}" class="button-link">Takaisin etusivulle</a>
</body>
</html>
