<!DOCTYPE html>
<html>
<head>
    <title>Muokkaa inproceedings-viitettä</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Muokkaa inproceedings-viitettä</h1>

    <p><strong>Pakolliset kentät on merkitty tähdellä (*):</strong></p>

    <form method="POST">
        <input type="text" name="author" placeholder="Kirjoittajan nimi *" value="{{ inproc.author }}" required><br>
        <input type="text" name="title" placeholder="Otsikko *" value="{{ inproc.title }}" required><br>

        <input type="text" name="booktitle" placeholder="Kirjan otsikko" value="{{ inproc.booktitle }}"><br>
        <input type="number" name="year" placeholder="Vuosi" value="{{ inproc.year }}"><br>
        <input type="number" name="month" placeholder="Kuukausi" value="{{ inproc.month }}"><br>
        <input type="text" name="editor" placeholder="Editor" value="{{ inproc.editor }}"><br>
        <input type="text" name="volume" placeholder="Volyymi" value="{{ inproc.volume }}"><br>
        <input type="text" name="number" placeholder="Volyymin numero" value="{{ inproc.number }}"><br>
        <input type="text" name="series" placeholder="Konferenssijulkaisun sarja" value="{{ inproc.series }}"><br>
        <input type="text" name="pages" placeholder="Sivunumerot" value="{{ inproc.pages }}"><br>
        <input type="text" name="address" placeholder="Osoite" value="{{ inproc.address }}"><br>
        <input type="text" name="organization" placeholder="Organisaatio" value="{{ inproc.organization }}"><br>
        <input type="text" name="publisher" placeholder="Julkaisija" value="{{ inproc.publisher }}"><br>

        <textarea name="notes" placeholder="Muistiinpanot">{{ inproc.notes }}</textarea><br>
        
        <button type="submit">Tallenna muutokset</button>
    </form>

    <br>
    <a href="{{ url_for('index') }}" class="back-to-home-btn">Takaisin etusivulle</a>
</body>
</html>
