<!DOCTYPE html>
<html>
<head>
    <title>Muokkaa misc-viitettä</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Muokkaa misc-viitettä</h1>

    <p><strong>Pakolliset kentät on merkitty tähdellä (*):</strong></p>

    <form method="POST">

    <div class="field">
        <span class="placeholder">Kirjoittajan nimi *</span>
        <input type="text" name="author" value="{{ misc.author }}" required>
    </div>

    <div class="field">
        <span class="placeholder">Teoksen nimi *</span>
        <input type="text" name="title" value="{{ misc.title }}" required>
    </div>

    <div class="field">
        <span class="placeholder">Vuosi *</span>
        <input type="number" name="year" value="{{ misc.year }}" required>
    </div>

    <div class="field">
        <span class="placeholder">Kuukausi</span>
        <input type="number" name="month" value="{{ misc.month }}">
    </div>

    <div class="field">
        <span class="placeholder">URL-osoite</span>
        <input type="url" name="url" value="{{ misc.url }}">
    </div>

    <div class="field textarea-field">
        <span class="placeholder">Muistiinpanot</span>
        <textarea name="notes">{{ misc.notes }}</textarea>
    </div>

        <button type="submit">Tallenna muutokset</button>
    </form>

    <br>
    <a href="{{ url_for('index') }}" class="back-to-home-btn">Takaisin etusivulle</a>
</body>
</html>