<!DOCTYPE html>
<html>
<head>
    <title>Muokkaa inproceedings-viitettä</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Muokkaa inproceedings-viitettä</h1>

    <form method="POST">
        <div class="field">
            <span class="placeholder">Kirjoittajan nimi *</span>
            <input type="text" name="author" value="{{ inproc.author }}" required>
        </div>

        <div class="field">
            <span class="placeholder">Otsikko *</span>
            <input type="text" name="title" value="{{ inproc.title }}" required>
        </div>

        <div class="field">
            <span class="placeholder">Kirjan otsikko</span>
            <input type="text" name="booktitle" value="{{ inproc.booktitle }}">
        </div>

        <div class="field">
            <span class="placeholder">Vuosi</span>
            <input type="number" name="year" value="{{ inproc.year }}">
        </div>

        <div class="field">
            <span class="placeholder">Kuukausi</span>
            <input type="number" name="month" value="{{ inproc.month }}">
        </div>

        <div class="field">
            <span class="placeholder">Editor</span>
            <input type="text" name="editor" value="{{ inproc.editor }}">
        </div>

        <div class="field">
            <span class="placeholder">Volyymi</span>
            <input type="text" name="volume" value="{{ inproc.volume }}">
        </div>

        <div class="field">
            <span class="placeholder">Volyymin numero</span>
            <input type="text" name="number" value="{{ inproc.number }}">
        </div>

        <div class="field">
            <span class="placeholder">Konferenssijulkaisun sarja</span>
            <input type="text" name="series" value="{{ inproc.series }}">
        </div>

        <div class="field">
            <span class="placeholder">Sivunumerot</span>
            <input type="text" name="pages" value="{{ inproc.pages }}">
        </div>

        <div class="field">
            <span class="placeholder">Osoite</span>
            <input type="text" name="address" value="{{ inproc.address }}">
        </div>

        <div class="field">
            <span class="placeholder">Organisaatio</span>
            <input type="text" name="organization" value="{{ inproc.organization }}">
        </div>

        <div class="field">
            <span class="placeholder">Julkaisija</span>
            <input type="text" name="publisher" value="{{ inproc.publisher }}">
        </div>

        <div class="field textarea-field">
            <span class="placeholder">Muistiinpanot</span>
            <textarea name="notes">{{ inproc.notes }}</textarea>
        </div>
        
        <button type="submit">Tallenna muutokset</button>
    </form>

    <br>
    <a href="{{ url_for('index') }}" class="button-link">Takaisin etusivulle</a>
</body>
</html>