<!DOCTYPE html>
<html>
<head>
    <title>Muokkaa kirjaa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Muokkaa kirjaa</h1>

    <p><strong>Pakolliset kentät on merkitty tähdellä (*):</strong></p>

    <form method="POST">
        <input type="text" name="author" placeholder="Kirjoittajan nimi *" value="{{ book.author }}" required><br>
        <input type="text" name="title" placeholder="Kirjan nimi *" value="{{ book.title }}" required><br>
        <input type="text" name="editor" placeholder="Teoksen editori *" value="{{ book.editor }}" required><br>
        <input type="text" name="publisher" placeholder="Julkaisija *" value="{{ book.publisher }}" required><br>
        <input type="number" name="year" placeholder="Vuosi *" value="{{ book.year }}" required><br>

        <input type="number" name="month" placeholder="Kuukausi" value="{{ book.month }}"><br>
        <input type="text" name="volume" placeholder="Volyymi" value="{{ book.volume }}"><br>
        <input type="text" name="number" placeholder="Volyymin numero" value="{{ book.number }}"><br>
        <input type="text" name="pages" placeholder="Sivunumerot" value="{{ book.pages }}"><br>

        <textarea name="notes" placeholder="Muistiinpanot">{{ book.notes }}</textarea><br>

        <button type="submit">Tallenna muutokset</button>
    </form>

    <br>
    <a href="{{ url_for('index') }}" class="back-to-home-btn">Takaisin etusivulle</a>
</body>
</html>
