<!DOCTYPE html>
<html>
<head>
    <title>Hae viitteitä viitetyypillä</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Hae viitteitä</h1>

    <form method="GET" action="{{ url_for('get_references_page') }}">
        <label for ="type">Valitse viitteen tyyppi:</label>
        <select name="type" id="type">
            <option value="articles">Artikkelit</option>
            <option value="books">Kirjat</option>
            <option value="inproceedings">Inproceedings</option>
            <option value="miscs">Misc</option>
        </select>
        <button type="submit">Hae</button>
    </form>

    {% if viitteet %}
        <h2>Viitteet:</h2>
        <ul>
            {% for v in viitteet %}
    <li>
        <h3>{{ v.title }}</h3>
        <ul>
            {% if v.author %}<li>{{ v.author }}</li>{% endif %}
            {% if v.year %}<li>{{ v.year }}</li>{% endif %}
            {% if v.journal %}<li>{{ v.journal }}</li>{% endif %}
            {% if v.publisher %}<li>{{ v.publisher }}</li>{% endif %}
            {% if v.booktitle %}<li>{{ v.booktitle }}</li>{% endif %}
            {% if v.url %}<li><a href="{{ v.url }}">{{ v.url }}</a></li>{% endif %}
            {% if v.notes %}<li>{{ v.notes }}</li>{% endif %}
        </ul>
    </li>
{% endfor %}
        </ul>
    {% elif request.args.get('type') %}
        <p>Ei löytynyt viitteitä.</p>
    {% endif %}

    <br>
    <a href="{{ url_for('index') }}" class="button-link">Takaisin etusivulle</a>
</body>
</html>