<!DOCTYPE html>
<html>
<head>
    <title>Lähde Kirjasto</title>
</head>
<body>
    <h1>Lähde Kirjasto</h1>

    <h2>Kaikki lähteet (ole hyvä)</h2>
    <ul>
        {% for ref in authors %}
            <p>
                <strong>{{ ref['title'] }}</strong><br>
                {{ ref['name'] }}, {{ ref['year'] }}<br>
                <a href="{{ ref['url'] }}">{{ ref['url'] }}</a><br>
                {{ ref['notes'] }}
            </p>
            <br>
        {% endfor %}
    </ul>

    <a href="{{ url_for('add_author') }}">
        <button>Lisää lähde</button>
    </a>
</body>
</html>
