body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 20px;
    padding: 0;
}

h1, h2 {
    color: #0056b3;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    font-weight: 700;
}

ul {
    list-style: none;
    padding: 0;
}

/* Tyyli yksittäiselle lähde-elementille (index.html) */
ul p {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

strong {
    display: block;
    font-size: 1.1em;
    margin-bottom: 5px;
    color: #333;
}

/* Lomakkeiden peruskehys */
form {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 500px;
    margin-top: 20px;
}

/* Lomakekentät */
input[type="text"], input[type="number"], input[type="url"], textarea, select {

    width: 95%; 
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
    height: 100px;
}

/* Tyyli "Lisää" painikkeelle (Sininen) */
button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Tyyli pakolliset kentät (*) -ohjetekstille */
p strong {
    color: #d9534f;
    font-weight: bold;
    margin-bottom: 15px;
    display: inline;
}

/* Tyyli "Takaisin" -linkille (Punainen painike) */
.button-link {
    display: inline-block;
    background-color: #dc3545; /* Punainen tausta */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.button-link:hover {
    background-color: #c82333; /* Tummempi punainen hover-tilaan */
}