name: Run Robot Test

on:
  push:
    branches: [ robot-test ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        
      - name: Set up Python 3.13
        uses: actions/setup-python@v4
        with:
          python-version: 3.13

      - name: Install dependencies
        run: |
          set -e
          python -m pip install --upgrade pip
          pip install poetry
          poetry install --no-interaction --no-root

      - name: Run tests
        run: |
          set -e
          poetry run pytest src/tests -v